
<div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Registrar</h6>
    <button type="button" data-dismiss="modal" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)] = "ent.nombre">
                </div>
                <div class="col-md-6">
                    <label>Telefono</label>
                    <input type="text" class="form-control" name="rfc" [(ngModel)] = "ent.telefono">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" name="rs" [(ngModel)] = "ent.email">
                </div>
                
            </div>
            
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="registrar()" clickable class="btn btn-default">Guardar</button>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cancel')">Cerrar</button>
  </div>